# Alchemy or Infura RPC URL for Sepolia
SEPOLIA_URL=https://eth-sepolia.g.alchemy.com/v2/otvvf9SgGrtkWXlCW7v-1
# Your wallet private key (without 0x prefix)
PRIVATE_KEY=592b6ee7b393c79d984c2c71cff4a17c0e462a80e5d94b0717eddac7f0943468

